<div class= "container">

  <div class="main-container index-attributes z-depth-5">
    <div class="static">
        <h3 class="txt-primary">Equidestined</h3>
      </div>
        <h6><%= @title %></h6>
        <% @users.each do |user| %>
          <div class="user-container">
              <%= link_to user.name, user_path(user) %>
              <% if current_user.following?(user) %>
                <a class="waves-effect waves-light btn follow-btn unfollow"><i class="material-icons right">remove</i>unfollow</a>
              <% else %>
                <a class="waves-effect waves-light btn follow-btn follow"><i class="material-icons right">add</i>follow</a>
              <% end %>
          </div>
          <hr>
        <% end %>
  </div>
</div>
