<div class= "container">

  <div class="main-container index-attributes z-depth-5">
    <div class="static">
        <h3 class="txt-primary">Equidestined</h3>
    </div>

      <%= form_tag(users_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter your friends first and last name", value: nil %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>

          <% @matches.each do |match| %>
            <%= link_to match.name, user_path(match) %>
          <% end %>

  </div>
</div>
