
<!DOCTYPE html>
<html>
<head>
  <title>Equidestined - About</title>
  <link data-turbolinks-track="true" href="/assets/application-3f6fc5844720af97fdbd8df6b36eac70.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/application-3c3991c91f7f12d9c1c25010ab9ce37f.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="1aVajkaAwfFQhCtuuAyMUpMtsRjbYMIpbFiKtPnMles=" name="csrf-token" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="about-container z-depth-5">
    <h5 class="txt-primary">Equidestined</h5>

      <p>Ever have trouble finding a cool, new place to meet someone that isn't too hard for both of you to reach?</p>
      <p>Enter your locations and Equidestined takes the pain out of arranging
      your next meeting spot, recommending venues conveninetly located between you and the people you meet. Explore neighborhoods you've seldom been and make new memories at cafes, restaurants, and other highly-rated venues.</p>
      <p>We believe in helping people meet each other more easily and in new places,
      reminding us the best things in life often happen when we're around others and a bit outside of our comfort zones!
      Give us a try and find out where you'll be <i>Equidestined</i>.</p>
    </p>

    <%=image_tag("addresses.png", size: "300")%>
    <%=image_tag("midpoint.png", size: "300")%>
    <%=image_tag("venue.png", size: "300")%>

    <p>Interested in driving more traffic to your venue? Check out some of the <a href="http://localhost:3000/searches">locations</a> our users are discovering, and contact us to learn more about Equidestined for Business.</p>
    Proudly hacked in New York City by: 
    <a href="github.com/paulyarabe">Paul Yarabe</a> |
    <a href="github.com/n3m3sis42">Sarah Evans</a> |
    <a href="github.com/racc828">Racquel Griner</a>
  </div>

</body>
</html>
