/* Style sheets are ordered by specificity(convention). HTML tags will be first, followed by classes(have a "." infront of them), then followed by ID's (have a "#" infront of them). */
body {
  background:#1279be url('https://images.unsplash.com/photo-1495420047114-9f6ef7fc0cbc?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=')no-repeat;
  background-size:cover;
}

a.link {
  float: right;
}

.main-container {
  min-height:600px;
}

footer {
  margin-top:200px;
  background:transparent!important;
  border-top:3px solid #fff;
  bottom:0;
  width:100%;
}

nav {
  box-shadow:none;
  background:transparent;

}


label {
  font-size:1.1em;
}

nav ul a,
a {
  font-size:1.3em;
}

h3 {
  margin-top:0!important;
  font-family: 'Raleway', serif;
}

h6 {
  font-size:1.4em;
}

/* Any HTML tag that has this class will have x colored background */
.bg-primary {
  background:#26a69a;
}

.left {
  float: left;
  font-size:1.3em;
}

.right-small {
  float:left!important;
}

.bg-secondary {
  background:#a7ffeb;
  color:#474644!important;
}
/* Any HTML tag that has this class will have x colored text */
.txt-primary {
  color:#26a69a;
}

.txt-secondary {
  color:#a7ffeb;
}

/* Dark text */
.dk-txt {
  color:#474644;
}

/* Light text */
.light-txt {
  color:#ffffff;
}

.float-right {
  float:right;
}

.mb-0 {
  margin-bottom:0;
}

.about-container {
  width:100%;
  left:0;
  right:0;
  margin:auto;
  margin-top:4%;
  padding:20px 40px;
  background:rgba(255,255,255, .9);
}

.about-container img {
  max-width:100%;
  height:auto;
}

.input-field .prefix {
  font-size:1.7rem;
}

.main-container {
  width:500px;
  left:0;
  right:0;
  margin:auto;
  margin-top:4%;
  padding:20px 40px;
  background:rgba(255,255,255, .9);
}

.main-container h3 {
  margin-bottom:25px;

}

.home-instructions {
  font-size:1.5rem;
  color:#6b6c6d;
}

.email-icon {
  font-size:1.5rem!important;
}

.map-width {
  width:700px
}

.index-attributes {
  width:700px;
  height:600px;
  overflow-y:auto;
}

.user-container {
  position:relative;
  padding-top:5px;
  padding-bottom:14px;
}

.follow-btn {
  position:absolute;
  right:0;
  top:5px;
}

.follow {
  background:transparent;
  border: 1px solid #26a69a;
  color: #26a69a;
}

.follow:hover {
  color:#fff;
}

.main p {
  font-size:1.1em!important;
}

#map {
  opacity:.8;
}

#locations__address:focus {
  color:#26a69a;
}

@media (max-width:1386px) {
  body {
    background-size:2000px 1000px;
  }

}

@media (max-width: 990px) {
  .right-small {
    float:right!important;
  }
}

@media (max-width:768px) {
  .container {
    width:95%;
  }

  .main-container {
    width:100%;
  }

  .about-container {
    width:100%;
  }

  footer {
    position:relative;
  }

  #map {
    width:100%;
  }

}

@media (max-width:500px) {
  .about-img-container {
    width:100%!important;
    text-align:center;
  }
}
