<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Equidestined</title>
    <!-- MATERIAL ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- APPLE -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!-- MATERIAL STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- CUSTOM STYLES -->
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <!-- HEADER  -->
    <div class="nav-wrapper">
		 <nav class="main-nav" role="navigation">
  			<div class="nav-wrapper container">
              <!-- MOBILE NAV -->
      			<ul id="nav-mobile" class="side-nav">
      				<li><%= link_to "Home", searches_path %></li>
    			  </ul>
    			  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="zmdi zmdi-menu"></i></a>
    			</div>
  		  </nav>
	  </div>
    <!-- /HEADER  -->

    <!-- MAIN  -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- /MAIN  -->

    <!-- JQUERY - THIS FILE IS NEEDED FOR MATERIALIZE.JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- MATERIALIZE.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <!-- SCRIPT -->


    <script src="//maps.google.com/maps/api/js?key=AIzaSyDnqcczTMv_b43f8WvEKG1KH8n_raxpeq8"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <%= javascript_include_tag "application" %>

  </body>
</html>
